.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .row {
    display: flex;
  }
  
  .cell {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 30px;
    font-size: 0.8em;
    font-weight: bold;
    color: white; 
  }
  
  .cell.obstacle {
    background-color: black;
  }
  
  .cell.start {
    background-color: green;
    color: white;
    font-weight: bold;
  }
  
  .cell.goal {
    border-width: 2px;
    border-radius: 4px; 
  }
  
  .cell.goal:not(.filled) {
    background-color: transparent; 
    color: black; 
  }
  .cell.agent-0 {
    background-color: blue;
  }
  
  .cell.agent-1 {
    background-color: orange;
  }
  
  .cell.agent-2 {
    background-color: purple;
  }

  .box {
    font-size: 10px; 
    text-align: right;
    vertical-align: bottom;
    padding: 2px; 
    position: relative;
}

.box span {
    position: absolute;
    bottom: 2px; 
    right: 2px; 
}